.add-friend-btn {
    padding: .375rem 3rem;
    font-weight: 500;
}

.profile-img img {
    min-width: 130px;
    background-color: #50b5ff;
    display: inline-block;
}

div.iq-top-navbar {
    padding: 0;
}

nav.navbar {
    padding: 0 .938rem !important;
}