<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
    "
>
    <!-- Beans for resources configurations -->
    <mvc:annotation-driven />
    <context:component-scan base-package="com.ht.controllers, com.ht.services, com.ht.beans, com.ht.dtos, com.ht.configs, com.ht.utils" />

    <mvc:resources mapping="/css/**" location="/resources/css/" />
    <mvc:resources mapping="/images/**" location="/resources/images/" />
    <mvc:resources mapping="/scripts/**" location="/resources/scripts/" />
    <mvc:resources mapping="/fonts/**" location="/resources/fonts/" />
    <mvc:resources mapping="/vendor/**" location="/resources/vendor/" />

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="vi_VN" />
    </bean>

    <bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- Beans for libraries configurations -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="n21dccn038@student.ptithcm.edu.vn" />
        <property name="password" value="ptwylbcauywmolrq" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <!-- From filess.io -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://sql6.freesqldatabase.com:3306/sql6696750"/>
        <property name="username" value="sql6696750"/>
        <property name="password" value="jSLzhj5dPl"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.ht.entities" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="appConfig" class="com.ht.configs.AppConfig">
        <property name="accessSecretKey" value="gD6RS3KOvd7gHVi9/Bm6jududzvX7WjXtor0C9Q+G60t1rqm8GFb74h2+MpkZkwW"/>
        <property name="passwordSecretKey" value="5zvX7WjXtor0C9Q+G60t1rqm8GFb74h2+MpkZkwWgD6RS3KOvd7gHVi9/Bm6jududz"/>
        <property name="jwtExpiration" value="86400000"/>
        <property name="resetPasswordExpiration" value="600000"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/scripts/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/vendor/**"/>
            <mvc:exclude-mapping path="/auth/**"/>
            <bean class="com.ht.configs.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- Beans for environment variables -->
</beans>